@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

/*custom styles*/

.section-wrapper {
    width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}

section {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.button-bordered {
    display: block;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $default-font;
    font-weight: 700;
    font-size: 14px;
    transition: 0.5s all;
    
    &:hover {
        background-color: $yellow;
        border: none;
        text-decoration: none;
    }
}

h2.pre-title{
    font-family: $ks-font;
    color: $text-color;
    text-align: center;
    margin-bottom: 20px;
}
    
.title {
    font-size: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
    
    &::after {
    content: ' ';
    display: block;
    width: 60px;
    height: 3px;
    background-color: $accent;
    margin: auto;
    margin-top: 40px;
    }
}

.service {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.service-text {
    margin-left: 15px;
}

.min-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.text-in-service {
    font-family: $rb-font;
    font-size: 15px;
    color: $p-color;
    font-weight: 400;
    width: 270px;
    display: block;
    line-height: 20px;
    margin-top: 15px;
}

/*banner styles*/

#banner {
    width: 100%;
    height: 1000px;
    position: relative;
    background-image: url(../img/header-fon.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
}

header#header {
    position: relative;
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 150px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 0;
}

nav.menu {
    position: absolute;
    top: 40px;
    left: 483px;
    
    ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        list-style: none;
        
        li {
            a {
                color: #fff;
                display: block;
                padding: 0px 28px;
                text-transform: uppercase;
                transition: 0.5s all;
                
                &::after {
                    content: ' ';
                    display: block;
                    width: 100%;
                    height: 0px;
                    background-color: $yellow;
                    margin-top: 10px;
                    transition: 0.5s all;
                }
                
                &:hover {
                    color: $yellow;
                    text-decoration: none;
                }
                
                &:hover::after {
                    height: 3px;
                }
            }
        }
    }
}

.icons {
    position: absolute;
    top: 35px;
    right: 0px;
    
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.cart {
    padding-right: 20px;
}

.search {
    padding-left: 20px;
}

.slide {
    display: none;
    position: relative;
    animation-name: slide;
    animation-duration: 3s;
}

.active-slide {
    display: block;
}

.pre-title-big {
    font-family: $ks-font;
    font-size: 72px;
    text-align: center;
    margin-bottom: 60px;
}

.big-title {
    font-size: 150px;
    text-align: center;
    text-transform: uppercase;
    line-height: 165px;
    
    &::after {
        content: ' ';
        display: block;
        background: #fff;
        width: 60px;
        height: 3px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.banner-button {
    margin: auto;
}

.slides-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 140px;
}

.progress-bar {
    width: 250px;
    height: 3px;
    background-color: #fff;
}

.number {
    font-weight: 700;
    font-size: 24px;
    float: left;
}

.nav_slider_text {
    position: relative;
    top: 12px;
    left: 10px;
}

.slider-nav_inner {
    margin-left: 30px;
    
    &:hover {
        cursor: pointer;
        
        .progress-bar::after {
            width: 70px;
        }
    }
}

.slider-nav:first-child {
    margin-left: 0px;
}

.active_nav {
        
    .progress-bar {
        &::after {
            content: ' ';
            display: block;
            width: 70px;
            height: 3px;
            background: $accent;
        }
    }
}

.progress-bar {
            
    &::after {
        content: ' ';
        display: block;
        width: 0px;
        height: 3px;
        background: $accent;
        transition: 0.5s all;
    }
}

@keyframes slide {
    from {
        top: 100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

/*content styles*/

.text_in_section {
    font-family: $rb-font;
    color: $p-color;
    font-size: 15px;
    text-align: center;
    width: 940px;
    margin: auto;
    margin-bottom: 105px;
}

.image-section {
    margin-left: 30px;
    
    &:first-child {
        margin-left: 0;
    }
}

.images {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@import "media"; // Always at the end
